@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');


* {
  box-sizing: border-box;
}

html {
  font-family: 'Merriweather', sans-serif, serif;
}


body {
  background-color: rgb(103, 221, 162);

}